<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3doithong_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{346,72}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{295,192},{346,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3doithong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{185,39}</string>
                <key>spriteSourceSize</key>
                <string>{185,41}</string>
                <key>textureRect</key>
                <string>{{184,1006},{185,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{137,49}</string>
                <key>spriteSourceSize</key>
                <string>{137,53}</string>
                <key>textureRect</key>
                <string>{{694,698},{137,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3thung_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{327,91}</string>
                <key>spriteSourceSize</key>
                <string>{339,101}</string>
                <key>textureRect</key>
                <string>{{2,295},{327,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,51}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{837,716},{120,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5doithong_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{346,70}</string>
                <key>spriteSourceSize</key>
                <string>{350,72}</string>
                <key>textureRect</key>
                <string>{{2,388},{346,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5doithong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{163,34}</string>
                <key>spriteSourceSize</key>
                <string>{165,36}</string>
                <key>textureRect</key>
                <string>{{721,503},{163,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{223,79}</string>
                <key>spriteSourceSize</key>
                <string>{235,89}</string>
                <key>textureRect</key>
                <string>{{302,561},{223,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_doi_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,41}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{837,819},{114,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bright_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,291}</string>
                <key>textureRect</key>
                <string>{{2,2},{291,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chialaibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{364,94}</string>
                <key>spriteSourceSize</key>
                <string>{394,94}</string>
                <key>textureRect</key>
                <string>{{295,96},{364,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cung_mau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{387,92}</string>
                <key>spriteSourceSize</key>
                <string>{397,98}</string>
                <key>textureRect</key>
                <string>{{295,2},{387,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cung_mau_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{176,43}</string>
                <key>spriteSourceSize</key>
                <string>{182,47}</string>
                <key>textureRect</key>
                <string>{{543,555},{176,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuopchuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{2,1009},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,166}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{320,736},{176,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den_lang_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{330,91}</string>
                <key>spriteSourceSize</key>
                <string>{340,95}</string>
                <key>textureRect</key>
                <string>{{684,2},{330,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den_lang_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{148,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,44}</string>
                <key>textureRect</key>
                <string>{{705,622},{148,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{289,78}</string>
                <key>spriteSourceSize</key>
                <string>{293,82}</string>
                <key>textureRect</key>
                <string>{{2,605},{289,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>donghoa_smallandroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{150,42}</string>
                <key>textureRect</key>
                <string>{{721,539},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{184,81}</string>
                <key>spriteSourceSize</key>
                <string>{192,89}</string>
                <key>textureRect</key>
                <string>{{320,904},{184,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{110,49}</string>
                <key>spriteSourceSize</key>
                <string>{114,57}</string>
                <key>textureRect</key>
                <string>{{906,95},{110,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{139,65}</string>
                <key>spriteSourceSize</key>
                <string>{149,83}</string>
                <key>textureRect</key>
                <string>{{782,385},{139,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoa_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{878,900},{84,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{2,831},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{930,436},{91,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowest_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{85,49}</string>
                <key>spriteSourceSize</key>
                <string>{85,57}</string>
                <key>textureRect</key>
                <string>{{830,943},{85,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_1_sam_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,41}</string>
                <key>spriteSourceSize</key>
                <string>{176,41}</string>
                <key>textureRect</key>
                <string>{{527,600},{176,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_5doithong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,38}</string>
                <key>spriteSourceSize</key>
                <string>{177,38}</string>
                <key>textureRect</key>
                <string>{{515,700},{177,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_ba_sanh_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,51}</string>
                <key>spriteSourceSize</key>
                <string>{150,57}</string>
                <key>textureRect</key>
                <string>{{549,985},{150,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_ba_thung_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{171,55}</string>
                <key>spriteSourceSize</key>
                <string>{171,57}</string>
                <key>textureRect</key>
                <string>{{515,643},{171,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_binh_lung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,48}</string>
                <key>spriteSourceSize</key>
                <string>{176,48}</string>
                <key>textureRect</key>
                <string>{{498,792},{176,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_hoa_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{98,49}</string>
                <key>spriteSourceSize</key>
                <string>{98,57}</string>
                <key>textureRect</key>
                <string>{{923,385},{98,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_lucphebon_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,41}</string>
                <key>spriteSourceSize</key>
                <string>{176,41}</string>
                <key>textureRect</key>
                <string>{{791,342},{176,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_mot_xam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{135,51}</string>
                <key>spriteSourceSize</key>
                <string>{139,57}</string>
                <key>textureRect</key>
                <string>{{886,503},{135,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_muoiba_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,46}</string>
                <key>spriteSourceSize</key>
                <string>{176,48}</string>
                <key>textureRect</key>
                <string>{{498,842},{176,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_muoiba_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,54}</string>
                <key>textureRect</key>
                <string>{{847,243},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_muoihai_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,46}</string>
                <key>spriteSourceSize</key>
                <string>{176,48}</string>
                <key>textureRect</key>
                <string>{{506,890},{176,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_muoihai_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{176,50}</string>
                <key>spriteSourceSize</key>
                <string>{176,54}</string>
                <key>textureRect</key>
                <string>{{498,740},{176,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_rongcuon_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,45}</string>
                <key>spriteSourceSize</key>
                <string>{176,45}</string>
                <key>textureRect</key>
                <string>{{506,938},{176,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_sanh_rong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,45}</string>
                <key>spriteSourceSize</key>
                <string>{176,45}</string>
                <key>textureRect</key>
                <string>{{847,295},{172,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_sap3chi_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,56}</string>
                <key>spriteSourceSize</key>
                <string>{176,56}</string>
                <key>textureRect</key>
                <string>{{371,987},{176,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_sup_ham_minh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,56}</string>
                <key>spriteSourceSize</key>
                <string>{176,56}</string>
                <key>textureRect</key>
                <string>{{543,497},{176,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_thang_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,39}</string>
                <key>spriteSourceSize</key>
                <string>{100,41}</string>
                <key>textureRect</key>
                <string>{{830,994},{94,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb_thua_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{82,31}</string>
                <key>spriteSourceSize</key>
                <string>{90,45}</string>
                <key>textureRect</key>
                <string>{{676,857},{82,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{184,73}</string>
                <key>spriteSourceSize</key>
                <string>{192,79}</string>
                <key>textureRect</key>
                <string>{{605,307},{184,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mom_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{953,832},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phat_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{246,68}</string>
                <key>spriteSourceSize</key>
                <string>{246,72}</string>
                <key>textureRect</key>
                <string>{{350,414},{246,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phat_sam_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,41}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{855,622},{148,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanh_rong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{220,57}</string>
                <key>spriteSourceSize</key>
                <string>{224,57}</string>
                <key>textureRect</key>
                <string>{{684,95},{220,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanh_rong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,46}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{598,449},{178,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanhrong_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{298,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,78}</string>
                <key>textureRect</key>
                <string>{{2,527},{298,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanhrong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,65}</string>
                <key>spriteSourceSize</key>
                <string>{180,65}</string>
                <key>textureRect</key>
                <string>{{600,382},{180,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{122,64}</string>
                <key>spriteSourceSize</key>
                <string>{130,72}</string>
                <key>textureRect</key>
                <string>{{874,556},{122,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{87,57}</string>
                <key>textureRect</key>
                <string>{{917,943},{81,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{219,92}</string>
                <key>spriteSourceSize</key>
                <string>{231,96}</string>
                <key>textureRect</key>
                <string>{{294,642},{219,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thang_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{290,71}</string>
                <key>spriteSourceSize</key>
                <string>{294,73}</string>
                <key>textureRect</key>
                <string>{{2,685},{290,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thang_sam_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{151,37}</string>
                <key>spriteSourceSize</key>
                <string>{155,39}</string>
                <key>textureRect</key>
                <string>{{721,583},{151,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thang_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,48}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{837,769},{114,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,60}</string>
                <key>textureRect</key>
                <string>{{684,890},{89,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,57}</string>
                <key>textureRect</key>
                <string>{{926,988},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{202,76}</string>
                <key>spriteSourceSize</key>
                <string>{214,94}</string>
                <key>textureRect</key>
                <string>{{643,229},{202,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thua_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{775,900},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuacong_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{272,65}</string>
                <key>spriteSourceSize</key>
                <string>{278,71}</string>
                <key>textureRect</key>
                <string>{{331,266},{272,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuacong_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{136,35}</string>
                <key>textureRect</key>
                <string>{{684,948},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuasam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{310,65}</string>
                <key>spriteSourceSize</key>
                <string>{320,77}</string>
                <key>textureRect</key>
                <string>{{2,460},{310,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuasam_smallandroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{142,32}</string>
                <key>spriteSourceSize</key>
                <string>{150,42}</string>
                <key>textureRect</key>
                <string>{{688,664},{142,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuatrang_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{283,71}</string>
                <key>spriteSourceSize</key>
                <string>{285,71}</string>
                <key>textureRect</key>
                <string>{{2,758},{283,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuatrang_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,36}</string>
                <key>textureRect</key>
                <string>{{816,862},{146,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuquy_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{248,79}</string>
                <key>spriteSourceSize</key>
                <string>{258,85}</string>
                <key>textureRect</key>
                <string>{{350,333},{248,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuquy_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{127,42}</string>
                <key>spriteSourceSize</key>
                <string>{139,50}</string>
                <key>textureRect</key>
                <string>{{701,983},{127,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{676,749},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{138,173}</string>
                <key>spriteSourceSize</key>
                <string>{164,177}</string>
                <key>textureRect</key>
                <string>{{180,831},{138,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_chan_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{953,769},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_khan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{227,75}</string>
                <key>spriteSourceSize</key>
                <string>{237,83}</string>
                <key>textureRect</key>
                <string>{{314,484},{227,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_khan_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,49}</string>
                <key>spriteSourceSize</key>
                <string>{158,57}</string>
                <key>textureRect</key>
                <string>{{778,452},{150,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{764,749},{71,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{207,73}</string>
                <key>spriteSourceSize</key>
                <string>{219,83}</string>
                <key>textureRect</key>
                <string>{{661,154},{207,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>u_tron_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{136,49}</string>
                <key>spriteSourceSize</key>
                <string>{144,57}</string>
                <key>textureRect</key>
                <string>{{833,665},{136,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,87}</string>
                <key>spriteSourceSize</key>
                <string>{161,91}</string>
                <key>textureRect</key>
                <string>{{870,154},{151,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{1023,1047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c42415b76e75e446f8f196ffa7ac57:a13fabfa443a59ee0f43361f0925de53:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
