<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3doithong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,170},{344,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{344,70}}</string>
                <key>sourceSize</key>
                <string>{350,72}</string>
            </dict>
            <key>3doithong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,242},{183,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{183,37}}</string>
                <key>sourceSize</key>
                <string>{185,41}</string>
            </dict>
            <key>3sam.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,882},{135,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,49}}</string>
                <key>sourceSize</key>
                <string>{137,53}</string>
            </dict>
            <key>3thung_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{325,89}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{325,89}}</string>
                <key>sourceSize</key>
                <string>{339,101}</string>
            </dict>
            <key>5doi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{120,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,49}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>5doithong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,98},{344,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{344,70}}</string>
                <key>sourceSize</key>
                <string>{350,72}</string>
            </dict>
            <key>5doithong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,450},{161,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{161,32}}</string>
                <key>sourceSize</key>
                <string>{165,36}</string>
            </dict>
            <key>6_doi.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,236},{221,77}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{221,77}}</string>
                <key>sourceSize</key>
                <string>{235,89}</string>
            </dict>
            <key>6_doi_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,694},{112,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{112,39}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>bright_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,291}}</string>
                <key>sourceSize</key>
                <string>{291,291}</string>
            </dict>
            <key>chialaibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{362,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{362,94}}</string>
                <key>sourceSize</key>
                <string>{394,94}</string>
            </dict>
            <key>cung_mau.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{385,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{385,90}}</string>
                <key>sourceSize</key>
                <string>{397,98}</string>
            </dict>
            <key>cung_mau_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,610},{174,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{174,41}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>cuopchuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,645},{180,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,36}}</string>
                <key>sourceSize</key>
                <string>{180,36}</string>
            </dict>
            <key>dark_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{174,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{174,164}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>den_lang_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,242},{328,89}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{328,89}}</string>
                <key>sourceSize</key>
                <string>{340,95}</string>
            </dict>
            <key>den_lang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,936},{146,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>donghoa.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,387},{287,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{287,78}}</string>
                <key>sourceSize</key>
                <string>{293,82}</string>
            </dict>
            <key>donghoa_smallandroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,737},{148,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>first.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,560},{182,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{182,79}}</string>
                <key>sourceSize</key>
                <string>{192,89}</string>
            </dict>
            <key>first_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{108,47}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,47}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>hoa.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,869},{137,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{137,63}}</string>
                <key>sourceSize</key>
                <string>{149,83}</string>
            </dict>
            <key>hoa_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,612},{82,39}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,39}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>light_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,676},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>lowest.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,910},{89,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{89,50}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>lowest_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,527},{83,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{83,47}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>mb_1_sam_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,409},{176,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,39}}</string>
                <key>sourceSize</key>
                <string>{176,41}</string>
            </dict>
            <key>mb_5doithong.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,645},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>mb_ba_sanh_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,179},{150,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,49}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>mb_ba_thung_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,823},{171,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,55}}</string>
                <key>sourceSize</key>
                <string>{171,57}</string>
            </dict>
            <key>mb_binh_lung.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,827},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>mb_hoa_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,812},{96,47}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,47}}</string>
                <key>sourceSize</key>
                <string>{98,57}</string>
            </dict>
            <key>mb_lucphebon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,484},{176,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,41}}</string>
                <key>sourceSize</key>
                <string>{176,41}</string>
            </dict>
            <key>mb_muoiba_den.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,361},{174,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>mb_muoiba_do.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,560},{174,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{174,48}}</string>
                <key>sourceSize</key>
                <string>{176,54}</string>
            </dict>
            <key>mb_muoihai_den.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,315},{174,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>mb_muoihai_do.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,941},{174,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{174,48}}</string>
                <key>sourceSize</key>
                <string>{176,54}</string>
            </dict>
            <key>mb_rongcuon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,645},{176,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>mb_sanh_rong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,653},{170,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,43}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>mb_sap3chi_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,645},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>mb_sup_ham_minh.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,645},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>mb_thang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,653},{92,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>mb_thua_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,645},{80,29}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{80,29}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>mom.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,685},{182,71}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{182,71}}</string>
                <key>sourceSize</key>
                <string>{192,79}</string>
            </dict>
            <key>mom_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,70},{66,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{66,26}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>phat_sam.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{244,66}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{244,66}}</string>
                <key>sourceSize</key>
                <string>{246,72}</string>
            </dict>
            <key>phat_sam_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,978},{146,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{146,39}}</string>
                <key>sourceSize</key>
                <string>{150,43}</string>
            </dict>
            <key>sanh_rong.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,179},{218,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,55}}</string>
                <key>sourceSize</key>
                <string>{224,57}</string>
            </dict>
            <key>sanh_rong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,823},{176,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>sanhrong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,387},{296,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,76}}</string>
                <key>sourceSize</key>
                <string>{300,78}</string>
            </dict>
            <key>sanhrong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,677},{180,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,65}}</string>
                <key>sourceSize</key>
                <string>{180,65}</string>
            </dict>
            <key>second.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{120,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{120,62}}</string>
                <key>sourceSize</key>
                <string>{130,72}</string>
            </dict>
            <key>second_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,513},{79,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{79,41}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>thang.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,242},{217,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{217,90}}</string>
                <key>sourceSize</key>
                <string>{231,96}</string>
            </dict>
            <key>thang_sam.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,387},{288,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{288,71}}</string>
                <key>sourceSize</key>
                <string>{294,73}</string>
            </dict>
            <key>thang_sam_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,698},{149,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{149,37}}</string>
                <key>sourceSize</key>
                <string>{155,39}</string>
            </dict>
            <key>thang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,698},{112,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{112,46}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>third.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,953},{87,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,54}}</string>
                <key>sourceSize</key>
                <string>{89,60}</string>
            </dict>
            <key>third_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,812},{64,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{64,41}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>thua.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,484},{200,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{200,74}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>thuacong_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,281},{270,63}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{270,63}}</string>
                <key>sourceSize</key>
                <string>{278,71}</string>
            </dict>
            <key>thuacong_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,527},{128,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>thuasam.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,387},{308,63}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{308,63}}</string>
                <key>sourceSize</key>
                <string>{320,77}</string>
            </dict>
            <key>thuasam_smallandroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,991},{140,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{140,30}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>thuatrang_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,572},{281,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,71}}</string>
                <key>sourceSize</key>
                <string>{285,71}</string>
            </dict>
            <key>tuquy_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,98},{246,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{246,79}}</string>
                <key>sourceSize</key>
                <string>{258,85}</string>
            </dict>
            <key>tuquy_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,890},{125,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{125,40}}</string>
                <key>sourceSize</key>
                <string>{139,50}</string>
            </dict>
            <key>u.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,70},{84,106}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{84,106}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>u_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,744},{136,173}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{136,173}}</string>
                <key>sourceSize</key>
                <string>{164,177}</string>
            </dict>
            <key>u_chan_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,450},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>u_khan.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,334},{225,73}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{225,73}}</string>
                <key>sourceSize</key>
                <string>{237,83}</string>
            </dict>
            <key>u_khan_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,859},{148,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{148,47}}</string>
                <key>sourceSize</key>
                <string>{158,57}</string>
            </dict>
            <key>u_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,882},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{69,88}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>u_tron.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,409},{205,73}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{219,83}</string>
            </dict>
            <key>u_tron_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,887},{134,47}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{134,47}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>win_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,854},{149,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{149,85}}</string>
                <key>sourceSize</key>
                <string>{161,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac8e071cf1e9883a4980d54a5e4a841$</string>
            <key>textureFileName</key>
            <string>animation0.png</string>
        </dict>
    </dict>
</plist>
