<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_vietnamese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,512}</string>
                <key>spriteSourceSize</key>
                <string>{242,512}</string>
                <key>textureRect</key>
                <string>{{2,2},{242,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_da_nhan_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{246,2},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_duoc_nhan_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{246,264},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_khong_nhan_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{2,516},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{164,526},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{2,778},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{326,526},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{164,788},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{2,1040},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{326,788},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{164,1050},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{2,1302},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{326,1050},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{164,1312},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{2,1564},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{326,1312},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hieuung (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,260}</string>
                <key>spriteSourceSize</key>
                <string>{160,260}</string>
                <key>textureRect</key>
                <string>{{278,1574},{160,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{408,2},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{408,49},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{2,1826},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{2,1928},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{140,1826},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{140,1928},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{278,1836},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_day7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{278,1938},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ministar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{408,96},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_7_day.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:603e2eb40c452d9b96b869bfdf6965b0:75b15356c8018188000768e21be05e98:841ae47baf1f57918fe2b9e63096094c$</string>
            <key>textureFileName</key>
            <string>bonus_7_day.png</string>
        </dict>
    </dict>
</plist>
