<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,90}</string>
                <key>spriteSourceSize</key>
                <string>{243,90}</string>
                <key>textureRect</key>
                <string>{{767,283},{243,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advertisment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,35}</string>
                <key>spriteSourceSize</key>
                <string>{520,35}</string>
                <key>textureRect</key>
                <string>{{2,71},{520,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{484,194},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{94,692},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{2,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{64,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{126,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{188,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{250,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{312,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{374,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{436,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{498,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{560,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{622,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{684,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{746,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{808,955},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{870,837},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{870,943},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{932,853},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{932,915},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{99,756},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_bolder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{2,664},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{156,692},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_64x64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{681,560},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_white_32x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{767,132},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,67}</string>
                <key>spriteSourceSize</key>
                <string>{800,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{800,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_backtolobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{747,562},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_bigchip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{313,364},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_events.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{911,489},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{671,626},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_getchip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,90}</string>
                <key>spriteSourceSize</key>
                <string>{210,90}</string>
                <key>textureRect</key>
                <string>{{469,470},{210,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{941,735},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_tinnhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{877,633},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{467,562},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xephang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{569,562},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_state_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,22}</string>
                <key>textureRect</key>
                <string>{{751,514},{130,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_state_count.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,11}</string>
                <key>spriteSourceSize</key>
                <string>{35,11}</string>
                <key>textureRect</key>
                <string>{{767,119},{35,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_tab_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,66}</string>
                <key>spriteSourceSize</key>
                <string>{163,66}</string>
                <key>textureRect</key>
                <string>{{313,296},{163,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_tab_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,66}</string>
                <key>spriteSourceSize</key>
                <string>{195,66}</string>
                <key>textureRect</key>
                <string>{{313,126},{195,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doi_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,90}</string>
                <key>spriteSourceSize</key>
                <string>{243,90}</string>
                <key>textureRect</key>
                <string>{{767,375},{243,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{161,756},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{218,692},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,440}</string>
                <key>spriteSourceSize</key>
                <string>{309,440}</string>
                <key>textureRect</key>
                <string>{{2,108},{309,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_room_state.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,22}</string>
                <key>textureRect</key>
                <string>{{751,538},{130,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,45}</string>
                <key>spriteSourceSize</key>
                <string>{254,45}</string>
                <key>textureRect</key>
                <string>{{524,71},{254,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,45}</string>
                <key>spriteSourceSize</key>
                <string>{142,45}</string>
                <key>textureRect</key>
                <string>{{767,467},{142,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{223,756},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3cay_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{737,654},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{711,412},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chipmini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{767,166},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{469,364},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lieng_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{839,735},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_loa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{941,801},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_maubinh_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_minigamelobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{804,2},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_muccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{780,71},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_poker_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{104,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{780,95},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sam_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{206,550},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_taixiu_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{206,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tala_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{308,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tldl_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{410,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tlmn_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{512,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{112,40}</string>
                <key>textureRect</key>
                <string>{{877,591},{112,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xito_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{614,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xocdia_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{716,853},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{711,459},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xumini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{767,195},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_bottom_avatar_place_holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{2,756},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{484,250},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_availabe_dots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{484,289},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,292}</string>
                <key>spriteSourceSize</key>
                <string>{250,292}</string>
                <key>textureRect</key>
                <string>{{515,118},{250,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_frame_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,56}</string>
                <key>spriteSourceSize</key>
                <string>{240,56}</string>
                <key>textureRect</key>
                <string>{{469,412},{240,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,16}</string>
                <key>spriteSourceSize</key>
                <string>{219,16}</string>
                <key>textureRect</key>
                <string>{{801,214},{219,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,20}</string>
                <key>spriteSourceSize</key>
                <string>{107,20}</string>
                <key>textureRect</key>
                <string>{{911,467},{107,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,49}</string>
                <key>spriteSourceSize</key>
                <string>{250,49}</string>
                <key>textureRect</key>
                <string>{{767,232},{250,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_top_rich_un-availabe_dots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{497,289},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{484,266},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,100}</string>
                <key>spriteSourceSize</key>
                <string>{169,100}</string>
                <key>textureRect</key>
                <string>{{313,194},{169,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{280,692},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quik_play_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{152,60}</string>
                <key>textureRect</key>
                <string>{{313,520},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{484,222},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{285,756},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{681,506},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_2x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1016,2},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,16}</string>
                <key>spriteSourceSize</key>
                <string>{200,16}</string>
                <key>textureRect</key>
                <string>{{313,108},{200,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xu-mien-phi-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,42}</string>
                <key>textureRect</key>
                <string>{{818,899},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>choice_room.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd1266342091f3c58d82396599997c77:c3d13c8e60b4deaa57e2df49853eb3b1:89dbfe741d043927681de178273622ed$</string>
            <key>textureFileName</key>
            <string>choice_room.png</string>
        </dict>
    </dict>
</plist>
