<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,144},{30,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tab-active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{324,69}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,69}}</string>
                <key>sourceSize</key>
                <string>{324,89}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,69}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,69}}</string>
                <key>sourceSize</key>
                <string>{324,89}</string>
            </dict>
            <key>tbchip-gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>tbchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>tbcoin-gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,100},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>tbcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choice_room_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b65ab28b1e0b01ba93838f865b4a7bc$</string>
            <key>textureFileName</key>
            <string>choice_room_2.png</string>
        </dict>
    </dict>
</plist>
