<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,319}</string>
                <key>spriteSourceSize</key>
                <string>{336,319}</string>
                <key>textureRect</key>
                <string>{{2,2},{336,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_backtolobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{340,2},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_chat_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{340,94},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_send_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,90}</string>
                <key>textureRect</key>
                <string>{{340,186},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,50}</string>
                <key>spriteSourceSize</key>
                <string>{224,50}</string>
                <key>textureRect</key>
                <string>{{2,765},{224,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dangxuat-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{470,2},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dong-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{470,34},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dunglen-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{470,66},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{421,344},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_table_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{470,151},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,440}</string>
                <key>spriteSourceSize</key>
                <string>{309,440}</string>
                <key>textureRect</key>
                <string>{{2,323},{309,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{313,359},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{375,406},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobi_signal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{470,181},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rakhoiban-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{470,98},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_cap_20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{421,278},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi_signal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{470,130},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{340,278},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>in_game_panel.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e63e89ca3236656b509c2721852d8ea1:2786ef4b54f8bd04c8c8179b8e3d713e:29e265105cdf091b855c2ad2a277b01f$</string>
            <key>textureFileName</key>
            <string>in_game_panel.png</string>
        </dict>
    </dict>
</plist>
