<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,49}</string>
                <key>spriteSourceSize</key>
                <string>{118,49}</string>
                <key>textureRect</key>
                <string>{{2,970},{118,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-bacay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{2,2},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-bau-cua-ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{658,830},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-blackjack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{486,684},{190,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{2,244},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-maubinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{2,486},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-poker-three-card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{648,486},{190,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{2,728},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-roulette.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{820,486},{190,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{244,2},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-slot-machine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{486,2},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tai-xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{728,2},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{244,244},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tldl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{244,486},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tlhk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,196}</string>
                <key>textureRect</key>
                <string>{{486,486},{160,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{244,728},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{820,658},{190,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{486,244},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xoc-dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{728,244},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{840,830},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobbyicon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d27b3a7cbce7fb3bc820ca50adfb9ec:8c1a346bd50014ebddcc02b87600b874:a29754077a8f68d1c9a7fa40a4f78b4f$</string>
            <key>textureFileName</key>
            <string>lobbyicon.png</string>
        </dict>
    </dict>
</plist>
