<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,90}</string>
                <key>spriteSourceSize</key>
                <string>{243,90}</string>
                <key>textureRect</key>
                <string>{{315,74},{243,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,49}</string>
                <key>spriteSourceSize</key>
                <string>{311,49}</string>
                <key>textureRect</key>
                <string>{{2,74},{311,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_vietnamese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,512}</string>
                <key>spriteSourceSize</key>
                <string>{242,512}</string>
                <key>textureRect</key>
                <string>{{2,125},{242,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{904,84},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chip_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{960,84},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{246,125},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{2,891},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,109}</string>
                <key>spriteSourceSize</key>
                <string>{326,109}</string>
                <key>textureRect</key>
                <string>{{576,2},{326,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{246,172},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{398,166},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{550,315},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{702,365},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{854,383},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{422,467},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{256,601},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{256,753},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{574,517},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{408,619},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{408,771},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{726,535},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{560,113},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,250}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{2,639},{125,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,250}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{129,639},{125,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,250}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{762,113},{125,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manh4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,250}</string>
                <key>spriteSourceSize</key>
                <string>{125,250}</string>
                <key>textureRect</key>
                <string>{{889,131},{125,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muiten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{904,2},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muitenketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,216}</string>
                <key>spriteSourceSize</key>
                <string>{174,216}</string>
                <key>textureRect</key>
                <string>{{246,383},{174,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_vongquaymayman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,70}</string>
                <key>spriteSourceSize</key>
                <string>{572,70}</string>
                <key>textureRect</key>
                <string>{{2,2},{572,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lucky_wheel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3490f47a256eecb3f37e1cc55dd3a3fe:b3ef6c0fdadd1dba3ba5ba59d3a13797:7726a1c9de27544023d9b1cfd353ed53$</string>
            <key>textureFileName</key>
            <string>lucky_wheel.png</string>
        </dict>
    </dict>
</plist>
