<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{974,2},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_hethong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{247,902},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_hethong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{549,460},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_napvaogame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,90}</string>
                <key>spriteSourceSize</key>
                <string>{243,90}</string>
                <key>textureRect</key>
                <string>{{2,902},{243,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_tinnhan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{549,522},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_tinnhan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{549,584},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{844,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,440}</string>
                <key>spriteSourceSize</key>
                <string>{309,440}</string>
                <key>textureRect</key>
                <string>{{2,460},{309,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_noidung_tinnhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,300}</string>
                <key>spriteSourceSize</key>
                <string>{840,300}</string>
                <key>textureRect</key>
                <string>{{2,2},{840,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,76}</string>
                <key>spriteSourceSize</key>
                <string>{840,76}</string>
                <key>textureRect</key>
                <string>{{2,304},{840,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,76}</string>
                <key>spriteSourceSize</key>
                <string>{840,76}</string>
                <key>textureRect</key>
                <string>{{2,382},{840,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264c6cfc095d56ce7219fe11436469fa:056c8feaca05b5f7a5b3669e99d441bc:ed283bf91382fa74ea6d76c16a797a6e$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
