<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{886,541}</string>
                <key>spriteSourceSize</key>
                <string>{886,541}</string>
                <key>textureRect</key>
                <string>{{2,2},{886,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,25}</string>
                <key>spriteSourceSize</key>
                <string>{146,25}</string>
                <key>textureRect</key>
                <string>{{996,170},{146,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black-icon-to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{224,1123},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1000,2},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bowl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,171}</string>
                <key>spriteSourceSize</key>
                <string>{172,171}</string>
                <key>textureRect</key>
                <string>{{716,545},{172,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{890,266},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{890,318},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{890,170},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{890,218},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{713,718},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{254,891},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_sokhac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{254,953},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chan-le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,69}</string>
                <key>spriteSourceSize</key>
                <string>{147,69}</string>
                <key>textureRect</key>
                <string>{{623,1047},{147,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{189,1031},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{345,1102},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua-dat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{623,985},{72,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{68,1062},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{345,1071},{42,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1000,74},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,1096},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{120,1062},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{241,1071},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{172,1083},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{54,1114},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,1148},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,272}</string>
                <key>spriteSourceSize</key>
                <string>{272,272}</string>
                <key>textureRect</key>
                <string>{{697,790},{272,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,54}</string>
                <key>spriteSourceSize</key>
                <string>{149,54}</string>
                <key>textureRect</key>
                <string>{{254,1015},{149,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,39}</string>
                <key>spriteSourceSize</key>
                <string>{712,39}</string>
                <key>textureRect</key>
                <string>{{2,545},{712,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{445,733},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong-dan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,59}</string>
                <key>spriteSourceSize</key>
                <string>{441,59}</string>
                <key>textureRect</key>
                <string>{{2,657},{441,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-tai-xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,779},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{106,1114},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ket-qua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{623,1016},{72,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{890,370},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{890,440},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lich-su.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,59}</string>
                <key>spriteSourceSize</key>
                <string>{441,59}</string>
                <key>textureRect</key>
                <string>{{2,718},{441,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>member-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1000,26},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,29}</string>
                <key>spriteSourceSize</key>
                <string>{57,29}</string>
                <key>textureRect</key>
                <string>{{130,1031},{57,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{416,891},{57,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,204}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{416,985},{205,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{293,1071},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red-icon-to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{158,1135},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result-tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,69}</string>
                <key>spriteSourceSize</key>
                <string>{689,69}</string>
                <key>textureRect</key>
                <string>{{2,586},{689,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,43}</string>
                <key>spriteSourceSize</key>
                <string>{689,43}</string>
                <key>textureRect</key>
                <string>{{977,406},{689,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{890,488},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,54}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{254,779},{184,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,54}</string>
                <key>spriteSourceSize</key>
                <string>{184,54}</string>
                <key>textureRect</key>
                <string>{{254,835},{184,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{890,2},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thoi-gian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,29}</string>
                <key>spriteSourceSize</key>
                <string>{86,29}</string>
                <key>textureRect</key>
                <string>{{992,318},{86,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,76}</string>
                <key>spriteSourceSize</key>
                <string>{252,76}</string>
                <key>textureRect</key>
                <string>{{890,536},{252,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tra-lai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,29}</string>
                <key>spriteSourceSize</key>
                <string>{60,29}</string>
                <key>textureRect</key>
                <string>{{68,1031},{60,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trang nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1000,88},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1000,50},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{890,86},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xoc-dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,74}</string>
                <key>spriteSourceSize</key>
                <string>{266,74}</string>
                <key>textureRect</key>
                <string>{{445,657},{266,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow-elip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{2,1031},{63,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mini_tai_xiu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41a1fc1ffbbeeab7eafbe5bc1a0bdd4:c070b236f89b44da6eff7a21ba7db934:352432ee11b5fe3a8569835f1c70fd56$</string>
            <key>textureFileName</key>
            <string>mini_tai_xiu.png</string>
        </dict>
    </dict>
</plist>
