<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,168}</string>
                <key>spriteSourceSize</key>
                <string>{152,168}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1279,164},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_dongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,90}</string>
                <key>spriteSourceSize</key>
                <string>{243,90}</string>
                <key>textureRect</key>
                <string>{{204,164},{243,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1358,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,83}</string>
                <key>spriteSourceSize</key>
                <string>{626,83}</string>
                <key>textureRect</key>
                <string>{{449,164},{626,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{2,172},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{1077,164},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_select_luatchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,160}</string>
                <key>spriteSourceSize</key>
                <string>{1200,160}</string>
                <key>textureRect</key>
                <string>{{156,2},{1200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1358,68},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_dangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1360,134},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_dieukhoansudung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1424,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_gopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1424,68},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_luatchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1426,134},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_privacypolicy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1490,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ion_thoatgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1490,68},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,59}</string>
                <key>spriteSourceSize</key>
                <string>{156,59}</string>
                <key>textureRect</key>
                <string>{{1696,195},{156,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_dieukhoansudung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,59}</string>
                <key>spriteSourceSize</key>
                <string>{441,59}</string>
                <key>textureRect</key>
                <string>{{1556,2},{441,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_gopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,59}</string>
                <key>spriteSourceSize</key>
                <string>{135,59}</string>
                <key>textureRect</key>
                <string>{{1696,63},{135,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_luatchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,59}</string>
                <key>spriteSourceSize</key>
                <string>{202,59}</string>
                <key>textureRect</key>
                <string>{{1492,195},{202,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,59}</string>
                <key>spriteSourceSize</key>
                <string>{138,59}</string>
                <key>textureRect</key>
                <string>{{1556,63},{138,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_privacypolicy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,59}</string>
                <key>spriteSourceSize</key>
                <string>{302,59}</string>
                <key>textureRect</key>
                <string>{{1492,134},{302,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new_ui.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af4c874a81c78ed8ae8f4de0258839b:93b061c1c972b9f3c0bf4a19c9da3b04:326cb22e2fd791e1cb6ec9024cc0ea8e$</string>
            <key>textureFileName</key>
            <string>new_ui.png</string>
        </dict>
    </dict>
</plist>
