<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_numbers_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{29,38},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{55,74},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{57,2},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{2,110},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{2,2},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{29,74},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{2,38},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{30,2},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{2,74},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_numbers_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,34}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{55,38},{24,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{56,110},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{98,139},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{2,174},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{83,2},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{13,26}</string>
                <key>textureRect</key>
                <string>{{113,2},{13,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{83,30},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,24}</string>
                <key>spriteSourceSize</key>
                <string>{13,24}</string>
                <key>textureRect</key>
                <string>{{2,230},{13,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{81,73},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{28,139},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{56,138},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{26,159},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{54,166},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{17,235},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{69,186},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{78,109},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{25,179},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{111,30},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{98,109},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{109,50},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{109,68},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{109,86},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{110,104},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{109,185},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{109,203},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{110,123},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{110,142},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{2,202},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{98,128},{9,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{2,146},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{28,110},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{81,50},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{78,137},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{13,26}</string>
                <key>textureRect</key>
                <string>{{73,94},{13,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{82,165},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{89,185},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{25,207},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{45,235},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{47,214},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{73,235},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{75,214},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{103,221},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{47,186},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>numbers.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75040e605032bd0808e26c4eaf656a2c:d2efc96883fd48d877a3a11b745c2b6b:73cfa007bc07ad091e3f0b98e5b21293$</string>
            <key>textureFileName</key>
            <string>numbers.png</string>
        </dict>
    </dict>
</plist>
