<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{2,1001},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_quangcaoVIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1257,103}</string>
                <key>spriteSourceSize</key>
                <string>{1257,103}</string>
                <key>textureRect</key>
                <string>{{313,138},{1257,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1004,2},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_goVIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,50}</string>
                <key>spriteSourceSize</key>
                <string>{333,50}</string>
                <key>textureRect</key>
                <string>{{858,960},{333,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_napthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{58,444},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_nhanthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{270,444},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{2,867},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hope_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{58,656},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mobi_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{272,656},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_viettel_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{216,858},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_vina_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{430,858},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_tab_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{58,790},{944,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice_room_tab_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{1085,66},{944,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,440}</string>
                <key>spriteSourceSize</key>
                <string>{309,440}</string>
                <key>textureRect</key>
                <string>{{2,2},{309,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,66}</string>
                <key>spriteSourceSize</key>
                <string>{350,66}</string>
                <key>textureRect</key>
                <string>{{486,2},{350,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1150,4}</string>
                <key>spriteSourceSize</key>
                <string>{1150,4}</string>
                <key>textureRect</key>
                <string>{{2,1017},{1150,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{1085,2},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menhgia_tienquydoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,62}</string>
                <key>spriteSourceSize</key>
                <string>{853,62}</string>
                <key>textureRect</key>
                <string>{{1154,2},{853,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_progress_cyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,421}</string>
                <key>spriteSourceSize</key>
                <string>{26,421}</string>
                <key>textureRect</key>
                <string>{{2,444},{26,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_progress_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,421}</string>
                <key>spriteSourceSize</key>
                <string>{26,421}</string>
                <key>textureRect</key>
                <string>{{30,444},{26,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,132}</string>
                <key>spriteSourceSize</key>
                <string>{212,132}</string>
                <key>textureRect</key>
                <string>{{644,858},{212,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{858,858},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,100}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{313,243},{250,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textbox_nhapthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,66}</string>
                <key>spriteSourceSize</key>
                <string>{350,66}</string>
                <key>textureRect</key>
                <string>{{486,70},{350,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_iap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,66}</string>
                <key>textureRect</key>
                <string>{{313,345},{250,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_nhanthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,66}</string>
                <key>textureRect</key>
                <string>{{482,413},{250,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_quydinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,66}</string>
                <key>textureRect</key>
                <string>{{565,243},{250,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_thecao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,66}</string>
                <key>textureRect</key>
                <string>{{565,311},{250,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_tigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,66}</string>
                <key>spriteSourceSize</key>
                <string>{250,66}</string>
                <key>textureRect</key>
                <string>{{482,481},{250,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27e1035f19f8d714f2dfd0963e08bb8:5790172e909d9c7545cf6a7eac94a265:ee0860f12ea04ba9ef83abc23bb8c439$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
