<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1249,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1249,64},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1249,126},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1249,188},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1311,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1311,64},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1311,126},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1311,188},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1373,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1373,64},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1373,126},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1373,188},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1416,250},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1435,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1435,64},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1435,126},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1435,188},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1478,250},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1497,2},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1497,64},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_bolder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{2,284},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,84}</string>
                <key>spriteSourceSize</key>
                <string>{418,84}</string>
                <key>textureRect</key>
                <string>{{2,376},{418,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,84}</string>
                <key>spriteSourceSize</key>
                <string>{418,84}</string>
                <key>textureRect</key>
                <string>{{94,284},{418,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{514,284},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,68}</string>
                <key>textureRect</key>
                <string>{{955,284},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{2,462},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{58,462},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,72}</string>
                <key>textureRect</key>
                <string>{{595,284},{118,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,72}</string>
                <key>textureRect</key>
                <string>{{715,284},{118,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{118,72}</string>
                <key>textureRect</key>
                <string>{{835,284},{118,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankline_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1245,92}</string>
                <key>spriteSourceSize</key>
                <string>{1245,92}</string>
                <key>textureRect</key>
                <string>{{2,2},{1245,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankline_user1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1245,92}</string>
                <key>spriteSourceSize</key>
                <string>{1245,92}</string>
                <key>textureRect</key>
                <string>{{2,96},{1245,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankline_user2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1245,92}</string>
                <key>spriteSourceSize</key>
                <string>{1245,92}</string>
                <key>textureRect</key>
                <string>{{2,190},{1245,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1290,79}</string>
                <key>spriteSourceSize</key>
                <string>{1290,79}</string>
                <key>textureRect</key>
                <string>{{422,370},{1290,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,66}</string>
                <key>spriteSourceSize</key>
                <string>{369,66}</string>
                <key>textureRect</key>
                <string>{{1045,284},{369,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topcaothuA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{422,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topcaothuB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{636,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topdaigiaA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{850,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topdaigiaB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{1064,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topxuA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{1278,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_topxuB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,51}</string>
                <key>spriteSourceSize</key>
                <string>{212,51}</string>
                <key>textureRect</key>
                <string>{{1492,451},{212,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top_dai_gia.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7d5ddcaa5078cfd0bafdab74db4c5c:7b4f7060d5c64399c90216699aaee335:e944105b5e57b3a23e1d07adb0908a08$</string>
            <key>textureFileName</key>
            <string>top_dai_gia.png</string>
        </dict>
    </dict>
</plist>
