<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{490,730},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_bolderx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{797,918},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_imgx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{282,1154},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_namex2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,68}</string>
                <key>textureRect</key>
                <string>{{797,848},{200,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>broad_viewstatic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{1000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{370,1308},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{370,1370},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{436,1274},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{278,1308},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_viettel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{278,1364},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_vina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{528,1274},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardvip_demo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,216}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{2,974},{278,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choiceroom_lineA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{2,356},{944,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choiceroom_lineB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{2,424},{944,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,440}</string>
                <key>spriteSourceSize</key>
                <string>{309,440}</string>
                <key>textureRect</key>
                <string>{{486,832},{309,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,64}</string>
                <key>spriteSourceSize</key>
                <string>{380,64}</string>
                <key>textureRect</key>
                <string>{{2,752},{380,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_status2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{490,684},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_top10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,134}</string>
                <key>spriteSourceSize</key>
                <string>{335,134}</string>
                <key>textureRect</key>
                <string>{{604,560},{335,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_top100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,134}</string>
                <key>spriteSourceSize</key>
                <string>{335,134}</string>
                <key>textureRect</key>
                <string>{{602,696},{335,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fr_top1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,134}</string>
                <key>spriteSourceSize</key>
                <string>{335,134}</string>
                <key>textureRect</key>
                <string>{{2,838},{335,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3cay_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{384,752},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_baucua_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{339,854},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,68}</string>
                <key>textureRect</key>
                <string>{{620,1274},{88,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chipbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{278,1666},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lieng_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{339,956},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_maubinh_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{797,1100},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_minipoker_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{899,1100},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_poker_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{797,1202},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sam_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{899,1202},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_taixiu_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,1192},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tala_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{104,1192},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tldl_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,1294},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tlmn_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{104,1294},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xito_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2,1396},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xocdia_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{104,1396},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xubig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{504,1330},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lichsugiaodich_menutop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{2,492},{944,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,8}</string>
                <key>spriteSourceSize</key>
                <string>{360,8}</string>
                <key>textureRect</key>
                <string>{{2,818},{360,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,8}</string>
                <key>spriteSourceSize</key>
                <string>{360,8}</string>
                <key>textureRect</key>
                <string>{{2,828},{360,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_LSgiaodich_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{948,356},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_LSgiaodich_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{941,602},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_choicestatic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,100}</string>
                <key>spriteSourceSize</key>
                <string>{1000,100}</string>
                <key>textureRect</key>
                <string>{{2,254},{1000,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_doimk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{206,1192},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_doimk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{710,1274},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,60}</string>
                <key>spriteSourceSize</key>
                <string>{600,60}</string>
                <key>textureRect</key>
                <string>{{2,560},{600,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_nhanthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,60}</string>
                <key>spriteSourceSize</key>
                <string>{600,60}</string>
                <key>textureRect</key>
                <string>{{2,622},{600,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_thongke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{432,1330},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_thongke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{278,1420},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_thongtin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{206,1438},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_thongtin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{350,1432},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_mostgameplayed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,66}</string>
                <key>spriteSourceSize</key>
                <string>{486,66}</string>
                <key>textureRect</key>
                <string>{{2,684},{486,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_hangcaothu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,30}</string>
                <key>spriteSourceSize</key>
                <string>{157,30}</string>
                <key>textureRect</key>
                <string>{{282,1058},{157,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_hangdaigia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,30}</string>
                <key>spriteSourceSize</key>
                <string>{157,30}</string>
                <key>textureRect</key>
                <string>{{282,1090},{157,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_hangtienxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,30}</string>
                <key>spriteSourceSize</key>
                <string>{157,30}</string>
                <key>textureRect</key>
                <string>{{282,1122},{157,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>user_info.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d11ea8dfde437b2d2916bad823cbdd:64175f7fb46644f0d1fe99b39912a776:3112c2d0c8d8816bf98f06fdd3eb9046$</string>
            <key>textureFileName</key>
            <string>user_info.png</string>
        </dict>
    </dict>
</plist>
