<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NHAP</key>
	<string>Nhập tên đăng nhập để lấy lại mật khẩu hoặc soạn tin theo cú pháp : </string>
	<key>SEND</key>
	<string> gửi </string>
	<key>PRICE</key>
	<string> (phí tin nhắn là : </string>
	<key>PRICE_2</key>
	<string> Đ)</string>
	<key>EMPTY</key>
	<string>Bạn chưa nhập tên đăng nhập !</string>
</dict>
</plist>
