<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOADING</key>
	<string>Đang tải dữ liệu ...</string>
	<key>NO_PLAYERS</key>
	<string>Không có ai để mời !</string>
</dict>
</plist>
