<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SAP</key>
	<string>SÁP</string>
	<key>ANH</key>
	<string>ẢNH</string>
	<key>LIENG</key>
	<string>LIÊNG</string>
	<key>POINT</key>
	<string> điểm</string>
	
	<key>FOLD</key>
	<string>Úp bài</string>
	<key>CHECK</key>
	<string>Xem</string>
	<key>CALL</key>
	<string>Theo</string>
	<key>RAISE</key>
	<string>Tố</string>
	<key>ALL_IN</key>
	<string>Xả láng</string>
	<key>FOLDCHECK</key>
	<string>Xem/Bỏ</string>
	<key>CALL_ANY</key>
	<string>Theo tất</string>
	
	<key>NOT_ENOUGHT_MONEY_EXCHANGE</key>
	<string>Bạn không đủ tiền để thay đổi</string>
	<key>NOT_ENOUGHT_MONEY_PLAY</key>
	<string>Bạn không đủ tiền để tiếp tục chơi</string>
	<key>CONNECT_NOT_SAVE</key>
	<string>Bạn bị đẩy ra khỏi bàn chơi vì kết nối mạng không ổn định!</string>
	<key>SEAT_START_GAME</key>
	<string>Bạn hãy ngồi xuống để bắt đầu chơi game</string>
	<key>FULL_TABLE</key>
	<string>Bàn chơi đã đầy</string>
</dict>
</plist>
