<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOVE_CHIPS</key>
	<string>sound/poker/poker_move_chips.mp3</string>
	<key>NEW_CARD</key>
	<string>sound/poker/poker_new_card.mp3</string>
	<key>PLAYER_FOLD</key>
	<string>sound/poker/poker_player_fold.mp3</string>
	<key>PLAYER_TURN</key>
	<string>sound/poker/poker_player_turn.mp3</string>
	<key>POST_BET</key>
	<string>sound/poker/poker_post_bet.mp3</string>
	<key>DEAL_CARD</key>
	<string>sound/tienlen/deal_card.mp3</string>
	<key>DESK_PLAYER_TURN</key>
	<string>sound/tienlen/desk_player_turn.mp3</string>
	<key>LOST_GAME</key>
	<string>sound/tienlen/lost_game.mp3</string>
	<key>START_GAME</key>
	<string>sound/tienlen/start_game.mp3</string>
	<key>WIN_GAME</key>
	<string>sound/tienlen/win_game.mp3</string>
	<key>AN_BAI_RAC</key>
	<string>sound/tala/AnBaiRac.mp3</string>
	<key>BA</key>
	<string>sound/tala/Ba.mp3</string>
	<key>BET</key>
	<string>sound/tala/Bet.mp3</string>
	<key>BAT_DAU_GAME</key>
	<string>sound/tala/BatDauGame.mp3</string>
	<key>BOC_BAI</key>
	<string>sound/tala/BocBai.mp3</string>
	<key>CHIA_BAI</key>
	<string>sound/tala/ChiaBai.mp3</string>
	<key>DANH_BAI</key>
	<string>sound/tala/DanhBai.mp3</string>
	<key>DEM_GIO</key>
	<string>sound/maubinh/DemGio.mp3</string>
	<key>GUI_BAI</key>
	<string>sound/tala/GuiBai.mp3</string>
	<key>HA_PHOM</key>
	<string>sound/tala/HaPhom.mp3</string>
	<key>MOM</key>
	<string>sound/tala/Mom.mp3</string>
	<key>NHAT</key>
	<string>sound/tala/Nhat.mp3</string>
	<key>U</key>
	<string>sound/tala/U.mp3</string>
	<key>XEP_BAI</key>
	<string>sound/maubinh/XepBai.mp3</string>
	<key>BINH_LUNG</key>
	<string>sound/maubinh/BinhLung.mp3</string>
	<key>MAU_BINH</key>
	<string>sound/maubinh/MauBinh.mp3</string>
	<key>SO_BAI</key>
	<string>sound/maubinh/SoBai.mp3</string>
	<key>START</key>
	<string>sound/maubinh/Start.mp3</string>
	<key>XOC_DIA_LOSE</key>
	<string>sound/xocdia/lose.mp3</string>
	<key>XOC_DIA_MONEY_BACK</key>
	<string>sound/xocdia/money_back.mp3</string>
	<key>XOC_DIA_MONEY_BET</key>
	<string>sound/xocdia/money_bet.mp3</string>
	<key>XOC_DIA_OPEN_DISK</key>
	<string>sound/xocdia/Open_disk.mp3</string>
	<key>XOC_DIA_SHUFFLE</key>
	<string>sound/xocdia/shuffle.mp3</string>
	<key>XOC_DIA_WIN</key>
	<string>sound/xocdia/win.mp3</string>

	<key>SLOT_SPIN</key>
	<string>sound/slotmachine/reels_extraSpin.mp3</string>
	<key>SLOT_STOP_SPIN</key>
	<string>sound/slotmachine/reels_stopspin.mp3</string>
	<key>SLOT_SUPER_WIN</key>
	<string>sound/slotmachine/super_win.mp3</string>
	<key>SLOT_MEGA_WIN</key>
	<string>sound/slotmachine/mega_win.mp3</string>
	<key>SLOT_BIG_WIN</key>
	<string>sound/slotmachine/big_win.mp3</string>
	<key>SLOT_BONUS</key>
	<string>sound/slotmachine/symbol_bonus.mp3</string>
	<key>SLOT_SCATTER</key>
	<string>sound/slotmachine/symbol_scatter.mp3</string>
	<key>SLOT_WILD</key>
	<string>sound/slotmachine/symbol_wild.mp3</string>
	<key>SLOT_BUTTON</key>
	<string>sound/slotmachine/button_tap.mp3</string>
	<key>SLOT_RESULT</key>
	<string>sound/slotmachine/line.mp3</string>
	<key>SLOT_COIN_FLY</key>
	<string>sound/slotmachine/coins_fly.mp3</string>

	<key>XENG_SPIN</key>
	<string>sound/xeng/xeng_spin.mp3</string>
	<key>XENG_WIN</key>
	<string>sound/xeng/xeng_win.mp3</string>
	<key>XENG_LOSE</key>
	<string>sound/xeng/xeng_lose.mp3</string>
	<key>XENG_MONEY</key>
	<string>sound/xeng/xeng_money.mp3</string>
	<key>XENG_CLICK</key>
	<string>sound/xeng/xeng_click.mp3</string>
	<key>XENG_TIENTANG</key>
	<string>sound/xeng/tientang.mp3</string>
	<key>XENG_TS_WIN</key>
	<string>sound/xeng/Tai_Siu_Win.mp3</string>
	<key>XENG_TS_LOSE</key>
	<string>sound/xeng/Tai_Siu_Lose.mp3</string>
	<key>XENG_TS_PLAY</key>
	<string>sound/xeng/Tai_Siu_Running.mp3</string>
	<key>XENG_MAXIMUN_WIN</key>
	<string>sound/xeng/Maximum_Win.mp3</string>

	<key>MINIPOKER_BACKGROUND</key>
	<string>sound/minipoker/background.mp3</string>
	<key>MINIPOKER_BET</key>
	<string>sound/minipoker/bet.mp3</string>
	<key>MINIPOKER_SPIN</key>
	<string>sound/minipoker/spin.mp3</string>
	<key>MINIPOKER_WIN</key>
	<string>sound/minipoker/win.mp3</string>
	<key>MINIPOKER_LOSE</key>
	<string>sound/minipoker/lose.mp3</string>
	<key>MINIPOKER_JACKPOT</key>
	<string>sound/minipoker/jackpot.mp3</string>
	<key>MINIPOKER_MONEY_WIN</key>
	<string>sound/minipoker/money_win_1.mp3</string>	
</dict>
</plist>
